.container

  .row
    .col-lg-9
      %p
        Contact me via Twitter at #{link_to '@livingbull', 'https://twitter.com/livingbull'} or #{link_to 'LinkedIn', 'http://www.linkedin.com/pub/mike-bull/5/9a0/9bb'}
    .col-lg-3
      %p.pull-right
        %a{href: "#"} Back to top
