.gallery
  = image_tag('gallery/DSC_0120_970x388_web.jpg')

.two-boxes
  .software
    .title
      =link_to 'Software Development', software_path
    .content
      I enjoy creating highly usable and visually appealing software through a wide variety of technologies, with a focus on ruby and rails.
  .photography
    .title
      =link_to 'Photography', photos_path
    .content
      I have a passion for the outdoors, especially the mountains. It's where I feel at home. Photography allows me to document, in brief captures of time, how I see this world of ours.