%h1 Build great software

%section.main
  I enjoy designing and building highly usable and visually appealing software solutions. Before becoming a developer,
  I had more than a decade of product and creative experience from startups to Microsoft, allowing me to bring a unique
  and well-rounded approach to software engineering. I'm a creator at heart. I am passionate about software development
  and also using my previous business and design experience to help companies build impactful solutions for their customers,
  keeping in mind the complete software lifecyle from conception to post-release activities. My current focus is on creating
  rails applications using ruby, html5/haml, css3/scss, and javascript/jquery.

