.container
  .row
    .col-lg-8
      %h1 Creating software
      %p
        I enjoy designing and creating highly usable and visually appealing software solutions. Before becoming a developer,
        I had more than a decade of product and creative experience from startups to Microsoft, allowing me to bring a unique
        and well-rounded approach to software engineering. I'm a creator at heart. I am passionate about software development
        and also using my previous business and design experience to help companies build impactful solutions for their customers,
        keeping in mind the complete software lifecyle from conception to post-release activities. My current focus is on creating
        rails applications using ruby, html5/haml, css3/scss, and javascript/jquery.
    .col-lg-4
      %br
      %h4 Tools & Technologies
      %ul
        %li ruby
        %li rails
        %li haml and erb
        %li html5
        %li sass and scss
        %li css3
        %li coffeescript
        %li javascript
        %li jQuery
        %li git
        %li jenkins
        %li engine yard
        %li heroku
