.col-lg-8
  %h1 Software Development
  %p
    I'm a creator at heart. I'm passionate about software development. I enjoy designing and creating highly usable
    and visually appealing software solutions.  My focus is on creating rails applications using ruby, html5 / haml,
    css3 / scss, and javascript.
.col-lg-4
  %br
  %h4 Tools & Technologies
  %ul
    %li ruby
    %li rails
    %li haml and erb
    %li html5
    %li sass and scss
    %li css3
    %li javascript
    %li jQuery
    %li git
    %li jenkins
    %li engine yard
    %li heroku
