/* Variables */

$blue: #437ED4;
$dark-blue: #385ba6;
$light-grey: #dedede;
$orange: #cf6d35;

/* Mixins */

@mixin border-radius {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}