.container
  %h2 Photography
  .row
    .col-lg-3
      %p I've always had a love for capturing brief, static moments in time. Looking back on images from various adventures, whether a mile away or in some remote part of the outdoors, is a favorite activity of mine. It never gets old. Here is my current portfolio:
      .btn.btn-large.btn-primary{href: 'http://www.mikebullimages.com'} Mike Bull Images

    .col-lg-9
      =image_tag 'gallery/P1010026_650x433_Web.jpg'