%h1 Photography

.photo-content
  %section I've always had a love for capturing brief, static moments in time. Looking back on images from various adventures, whether a mile away or in some remote part of the outdoors, is a favorite activity of mine. It never gets old. Here is my current portfolio:
  .button= link_to 'Mike Bull Images', 'http://www.mikebullimages.com'

.sidebar
  =image_tag 'gallery/P1010026_650x433_Web.jpg'

