@import "twitter/bootstrap";
@import "partials/variables_and_mixins.css.scss";
@import "partials/header.css.scss";
@import "bootstrap_overrides.css.scss";

body {
  font-family: "Helvetica Neue" !important;
}

.container {
  max-width: 970px;
  //margin: 0 auto;
  //background: #fff;
}


//h1 {
//  font-weight: normal;
//  color: $orange;
//  font-size: 1.4em;
//}
//
//.two-boxes {
//  margin-top: 25px;
//
//  .software, .photography {
//    width: 49%;
//    display: inline;
//    float: left;
//
//    .title {
//      font-size: 1.3em;
//      margin-bottom: 7px;
//      a {
//        color: $orange;
//        text-decoration: none;
//        //&:hover {color: $blue;}
//      }
//    }
//    .content {
//    }
//  }
//  .photography {
//    float: right;
//  }
//}
//
//.footer {
//  margin-top: 200px;
//  padding-top: 15px;
//  border-top: 1px solid lightgray;
//  font-size: .95em;
//  color: grey;
//  a {
//    text-decoration: none;
//    color: $dark-blue;
//  }
//}
//
//
//
