/*
 *= require_self
 *= require fancybox
 *= require_tree .
 */

@import "twitter/bootstrap";
@import "partials/variables_and_mixins.css.scss";
@import "partials/header.css.scss";
@import "photos.css.scss";

.container {
  max-width: 970px;
}

html, body {
  height: 100%;
  font-family: "Helvetica Neue" !important;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}

h1 {
  font-size: 1.9em !important;
}

h2 {
  font-size: 1.7em !important;
}

#push, #footer {
  height: 40px;
}

#footer {
  background-color: #f5f5f5;
  padding-top: 10px;
  margin-top: 50px;
}

/* Responsive CSS fixes */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 45px;
  }
}