.photo-content {
  width: 30%;
  float: left;

  section {margin-bottom: 25px;}

  .button a {
    padding: 6px 15px;
    color: #fff;
    background-color: $blue;
    text-decoration: none;
    @include border-radius;

    &:hover {
      background-color: $dark-blue;
    }
  }
}

.sidebar {
  float: right;
  width: 70%;
  //margin-left: 5px;
}